---
layout: default
permalink: /posts/
title: POSTS CHANNEL
id: posts
---

{% for post in site.categories.daily %}

{% assign day = post.date | date: "%d" %}
{% assign bigNum = day | plus: post.numFollowers %}
{% assign postTitleLength = post.headline | size %}
{% assign biggerNum = bigNum | plus: postTitleLength %}
{% assign random = biggerNum  | modulo: 55 %}

{% assign value = forloop.index | modulo:2 %}
{% if value == 0 %}
{% assign push = random | plus: 40 %}

{% else %}
{% assign push = random %}
{% endif %}

{%   assign today = post.date | date: '%s'      %}
{%   assign start = '30-10-2020' | date: '%s'  %}
{%   assign secondsSince = today | minus: start     %}
{%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
{%   assign totalDays = hoursSince | divided_by: 24  %}

<div class="post-wrapper" style="margin-left: {{ random }}%;">
    <span class="post-index">
        {% assign postTitle = post.title | split: ' ' %}
        🦋 DAY {{totalDays}} {% if postTitle[1] %} * {{ postTitle[1] }} {% endif %}
    </span>
    {{ post }}
</div>

{% endfor %}