---
layout: default
permalink: /reader/
title: READER
id: reader
---
<div class="reader-container">
    {% include comingsoon.html %}
    <div style="text-align: center;">
        *** WORK IN PROGRESS *** An ongoing collection of things I have read/listened to that influence the way I
        think about and approach this project.
    </div>
    <ul>
        {% for item in site.data.reader %}
        <li class="reader-item"><a class="arrow-cursor" target="_blank" href="{{item.link}}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</div>