---
layout: default
permalink: /reader/
title: READER
id: reader
---
<div class="reference-container">
    {% include comingsoon.html %}
    <ul>
        {% for type in site.data.reader %}
        {% for object in type %}
        {% for item in object %}
        {% if item.title %}
        <li class="reference-item"><a class="arrow-cursor reference-title" target="_blank" href="{{item.link}}">{{
                item.title }}</a>
            <br>
            <span class="reference-from">{{item.from}}</span>
            <br>
            <br>
            <div>
                "{{ item.quote }}"
            </div>
        </li>
        {% else %}
        <div class="reference-type">{{ item | upcase }} </div>
        {% endif %}

        {% endfor %}
        {% endfor %}
        {% endfor %}

    </ul>
</div>