---
layout: default
permalink: /indexofthingsused/
title: INDEX OF THINGS USED
id: thingsused
---

<div class="things-used-container">
    {% assign total = 0 %}
    {% assign thingsLimit = page.thingsUsedToDateLimit | plus: 1 %}
    {% for type in site.data.thingsUsed %}
    {% for object in type %}
    {% for item in object %}
    {% if item.name %}

    {% assign total = total | plus: item.cost %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
    <div class="table-container">
        <table id="thingsused-table">
            <thead>
                <tr>
                    <th>
                        IMAGE
                    </th>
                    <th>
                        NAME
                    </th>
                    <th>
                        BRAND
                    </th>
                    <th>
                        GOT IT FROM
                    </th>
                    <th>
                        COST
                    </th>
                    <th>
                        NOTES
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for type in site.data.thingsUsed %}
                {% for object in type %}
                {% for item in object %}
                {% if item.name %}

                <tr>
                    <td><img src="/assets/images/loading.gif" alt=""></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.from }}</td>
                    {% assign price_split = item.cost | round: 2 | split: "." %}
                    {% assign integral = price_split[0] %}
                    {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
                    <td>${{ integral }}.{{ fractional }}</td>
                    <td>{{ item.notes }}</td>
                </tr>
                {% else %}
                <tr style="background: hotpink;">
                    <td colspan="6"> *{{ item | upcase }}* </td>
                </tr>

                {% endif %}

                {% endfor %}
                {% endfor %}
                {% endfor %}

            </tbody>
        </table>
    </div>
    <br>
    <div class="cost-stat" id="total-cost">
        <span>TOTAL COST OF THINGS USED TO DATE: ${{ total }}</span>
    </div>

    <div class="cost-stat" id="money-made">
        <span>TOTAL MONEY MADE TO DATE: $0.00</span>
    </div>
</div>