<footer class="marquee">
        <span>JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS
            WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE
            AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS
            WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE
            AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS
            WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE
            AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS
            WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE
            AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION *</span>
</footer>