<footer class="marquee">
        <span>
            <a class="arrow-cursor" target="_blank" href="https://thenewinquiry.com/further-materials-toward-a-theory-of-the-hot-babe">
            
            <!-- JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS
                WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE
                AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS
                WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE
                AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS
                WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE
                AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS
                WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * JADE
                AND THIS WEBSITE ARE PERPETUALLY UNDER CONSTRUCTION * -->

                Who is she? No one. Jade is no one in particular, and neither are you. * Who is she? No one. Jade is no one in particular, and neither are you. 
                * Who is she? No one. Jade is no one in particular, and neither are you. * Who is she? No one. Jade is no one in particular, and neither are you. * Who is she? No one. Jade is no one in particular, and neither are you. 
                * Who is she? No one. Jade is no one in particular, and neither are you. * Who is she? No one. Jade is no one in particular, and neither are you. * Who is she? No one. Jade is no one in particular, and neither are you. 
                * Who is she? No one. Jade is no one in particular, and neither are you. * Who is she? No one. Jade is no one in particular, and neither are you. * Who is she? No one. Jade is no one in particular, and neither are you. 
                * Who is she? No one. Jade is no one in particular, and neither are you.
                
                </a>
            </span>
</footer>