<head>
    <!-- 🦋🦋🦋🦋🦋🦋🦋🦋🦋🦋 -->
    <!-- HI THIS CODE IS VERY WIP THANKS FOR COMING THOUGH -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@jadeontheinternet * {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/main.js"></script>
    <link rel="icon" href="/butterfly.png">
    <!-- HISTORY OF WHOIS PROTOCOL: https://en.wikipedia.org/wiki/WHOIS -->
    <!-- STATCOUNTER CODE -->
    <script type="text/javascript">
        var sc_project = 12429888;
        var sc_invisible = 1;
        var sc_security = "a98b4adc";
        var sc_https = 1;
        var sc_remove_link = 1; 
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript>
        <div class="statcounter"><img class="statcounter" src="https://c.statcounter.com/12429888/0/a98b4adc/1/" alt="Web Analytics Made Easy -
    StatCounter"></div>
    </noscript>
    <!-- END STATCOUNTER CODE -->
</head>