body {
  background-image: url("https://media.giphy.com/media/1TpGKApbHmkZa/giphy.gif");
  background-attachment: fixed;
}

main.bookshelf {
  display: flex;
}

img.book-cover {
  width: 50%;
  display: block;
  margin: auto;
}

.book-info {
  font-weight: bold;
  display: block;
  margin: auto;
}

img.comment {
  width: 90%;
}
