/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 DRAFTS
 *~*~*~*~*~*~*~*~*~*~*/
.draft-entry-container {
  display: block;
  margin: auto;
  max-width: fit-content;
}

.draft-video-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.single-draft-video {
  margin: 15px 30px 0 0;
}

iframe.draft-embed {
  max-width: 175px;
}

.draft-caption {
  max-width: 175px;
}

hr {
  border-top: 1px solid #f2e748;
}
