/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 DRAFTS
 *~*~*~*~*~*~*~*~*~*~*/
.draft-entry-container {
  display: block;
  margin: auto;
  max-width: 80%;
}

.draft-video-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.single-draft-video {
  margin: 15px 30px;
}

iframe.draft-embed {
  max-width: 175px;
}

iframe.draft-embed:hover + .draft-caption {
  visibility: visible;
}

.draft-caption {
  max-width: 175px;
  visibility: hidden;
  margin-top: 15px;
  color: black;
  // text-shadow: 1px 1px 2px white, 0 0 25px #00c2dc, 0 0 5px #00c2dc;
  // filter: drop-shadow(0 0 4mm hotpink);
}

hr {
  border-top: 1px solid #7fedc9;
}
