footer {
  margin-top: auto;
  background: white;
  padding-top: 4px;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: auto;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  will-change: transform;
  animation: marquee 120s linear infinite;
}

.marquee span a {
  text-decoration: none;
}

.marquee span:hover {
  animation-play-state: paused;
  cursor: pointer;
}


@keyframes marquee {
  0% { transform: translate(-30%, 0); }
  100% { transform: translate(-75%, 0); }
}


/* Respect user preferences about animations */
@media (prefers-reduced-motion: reduce) {
  .marquee { 
    white-space: normal 
  }
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01; 
    /* instead of animation: none, so an animationend event is 
     * still available, if previously attached.
     */
    padding-left: 0;
  }
}
