/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 GLOBAL
 *~*~*~*~*~*~*~*~*~*~*/
body {
  // background-image: url("https://media.giphy.com/media/IQnw7YeJWjYha/giphy.gif");
  background-attachment: fixed;
  // background-color: #c4a9fc;
  // background-color: hotpink;
  background: linear-gradient(hotpink, #c4a9fc);
  color: black;
}

main {
  margin: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

a {
  color: black;
}

::selection {
  background: #c4a9fc;
}

a:hover,
a:active {
  background-image: linear-gradient(
    to bottom,
    transparent 0.19em,
    #c4a9fc 0.19em,
    #c4a9fc 0.91em,
    transparent 0.91em
  );
}

.link#bookshelf {
  background-image: url("https://media.giphy.com/media/1TpGKApbHmkZa/giphy.gif");
}

.link#commentgallery {
  // background-image: url("https://media.giphy.com/media/1TpGKApbHmkZa/giphy.gif");
  background-image: url("https://media.giphy.com/media/J2P5Izk0DJFbG/giphy.gif");
}

.link#blog {
  background-image: url("https://media.giphy.com/media/IQnw7YeJWjYha/giphy.gif");
}
