/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 NAV
 *~*~*~*~*~*~*~*~*~*~*/
nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background: white;
  padding: 15px;
  // max-height: 25px;
}

a.tiktok-link {
  cursor: alias;
  font-size: 1.5em;
}

.nav-dropdown {
  text-align: right;
  font-size: 1em;
  vertical-align: text-bottom;
}

@media only screen and (max-width: 768px) {
  .nav-dropdown {
    display: none;
  }
}

.nav-dropdown:hover {
  cursor: pointer;
}

.nav-dropdown:hover > .nav-pages {
  display: block;
  // visibility: visible;
  // opacity: 1;
}

.nav-pages {
  display: none;
  // visibility: hidden;
  // opacity: 0;
  // transition: visibility 0.5s;
  position: relative;
  z-index: 9999;
}

.nav-pages a {
  color: black;
  margin: 0px 0px 0px 15px;
  vertical-align: text-bottom;
  display: block;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 1em;
}

.nav-pages a:hover {
  // background: #c4a9fc;
  color: #c4a9fc;
  background-image: none;
}

nav a.current {
  // background: #c4a9fc;
}

@media only screen and (max-width: 768px) {
  nav span {
    font-size: 0.75em;
    display: block;
  }
}

#nav-butterfly {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}
