/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 NAV
 *~*~*~*~*~*~*~*~*~*~*/
nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 1.5em;
}

a.tiktok-link {
  font-weight: bold;
  cursor: alias;
}

.nav-pages a {
  // background: white;
  margin: 0px 0px 0px 15px;
  font-size: 0.8em;
  vertical-align: text-bottom;
}

nav a.current {
  // background-image: linear-gradient(
  //   to bottom,
  //   transparent 0.19em,
  //   #c4a9fc 0.19em,
  //   #c4a9fc 0.91em,
  //   transparent 0.91em
  // );
  background: #c4a9fc;
  // background: #c4a9fc;
  // color: #F2E748;
}

@media only screen and (max-width: 768px) {
  nav span {
    font-size: 0.75em;
    display: block;
  }
}

#nav-butterfly {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}
