/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 ON THE INTERNET 
 *~*~*~*~*~*~*~*~*~*~*/

.post-wrapper {
  margin: 0px 0px 150px 0px;
  max-width: 550px;
  display: block;
}

.post {
  max-width: 550px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.post-index {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}

@media only screen and (max-width: 812px) {
  .post-wrapper {
    max-width: 90%;
    margin: auto auto 150px auto !important;
    display: block;
  }

  .post-index {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
  }
}

.post-container {
  background: #ffffff;
  padding: 15px;
  margin-top: 10px;
}

.post-header {
  margin-bottom: 15px;
}

time {
  font-style: italic;
}

.post-youtube-embed iframe {
  max-width: 175px;
}

a:hover,
a:active {
  background-image: linear-gradient(
    to bottom,
    transparent 0.19em,
    #c4a9fc 0.19em,
    #c4a9fc 0.91em,
    transparent 0.91em
  );
}

.post-key {
  font-weight: bold;
}

.post-data-container {
  margin-top: 5px;
}

.post-data-list {
  margin: 0px;
  padding: 0px;
  display: inline;
  list-style: none;
}

.post-data-list li {
  display: inline;
}

.post-data-list li:after {
  content: " * ";
}

.post-data-list li:last-child:after {
  content: "";
}

summary {
  outline: none; // TO CHANGE WITH JAVASCRIPT
  cursor: pointer;
}

.post-writing-container {
  display: block;
}
