/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 ON THE INTERNET 
 *~*~*~*~*~*~*~*~*~*~*/
.filter-button-group {
  text-align: center;
}

button {
  /* border: 2px solid #ffffff75;
  background: #ffffff75;
  font-weight: bold;
  padding: 15px; */
  padding: 5px;
  background: none;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

button.active, button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.post-wrapper {
  margin: 50px 0px 50px 0px;
  max-width: 500px;
  display: block;
}

.post-teaser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  background-color: white;
  max-height: 360px;
  max-width: 500px;
  min-width: 500px;
}

.column {
  display: inline-block;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  max-height: 280px;
}

#thumbnail-column {
  max-width: 150px;
}

#text-column {
  padding: 15px;
}

.post {
  max-width: 500px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.post-index, .post-headline {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.all-posts-container {
}

.post-listing {
  background: white;
  margin: 10px 0px;
  display: inline-block;
}

img.thumbnail {
  width: 150px;
  height: 280px;
  object-fit: cover;
}
a {
  display: inline-block;
}

a:hover,
a:active {
  color: #c4a9fc;
  // background-image: linear-gradient(
  //   to bottom,
  //   transparent 0.19em,
  //   #c4a9fc 0.19em,
  //   #c4a9fc 0.91em,
  //   transparent 0.91em
  // );
}

@media only screen and (max-width: 812px) {
  .post-wrapper {
    max-width: 90%;
    margin: 15px auto 15px auto !important;
    display: block;
    transform: scale(0.5) translate(-25%, 0);
  }


  .post-index {
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
  }
}

.post-container {
  background: #ffffff;
  padding: 15px;
  margin-top: 10px;
}

.post-header {
  margin-bottom: 15px;
}

time {
  font-style: italic;
}

.post-youtube-embed iframe {
  max-width: 175px;
}

.post-key {
  font-weight: bold;
}

.post-data-container {
  margin-top: 5px;
}

.post-data-list {
  margin: 0px;
  padding: 0px;
  display: inline;
  list-style: none;
}

.post-data-list li {
  display: inline;
}

.post-data-list li:after {
  content: " * ";
}

.post-data-list li:last-child:after {
  content: "";
}

summary {
  outline: none; // TO CHANGE WITH JAVASCRIPT
  cursor: pointer;
}

.post-writing-container {
  display: block;
}
