/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 ON THE INTERNET 
 *~*~*~*~*~*~*~*~*~*~*/

.post-wrapper {
  margin: 0px 0px 150px 0px;
  max-width: 550px;
  display: block;
}

article {
}

.post-index {
  font-size: 3em;
  font-weight: bold;
}

.post-container {
  // background: #d5ff53;
  background: #ffffff;
  padding: 15px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  article {
    max-width: 100%;
  }
}
.post-header {
  margin-bottom: 15px;
}

time {
  font-style: italic;
}

.post-youtube-embed {
  // margin: 1em 0px;
  // float: left;
}

.post-youtube-embed iframe {
  max-width: 175px;
  // max-width: 80%;
}

a:hover,
a:active {
  background-image: linear-gradient(
    to bottom,
    transparent 0.19em,
    #c4a9fc 0.19em,
    #c4a9fc 0.91em,
    transparent 0.91em
  );
}

.post-key {
  font-weight: bold;
}

.post-col-container {
  // display: flex;
}

.post-col {
  flex: 4;
  // border: 2px solid yellow;
}

.post-data-container {
}

.post-data-list {
  margin: 0px;
  padding: 0px;
  display: inline;
  list-style: none;
}

.post-data-list li {
  display: inline;
}

.post-data-list li:after {
  content: " * ";
}

.post-data-list li:last-child:after {
  content: "";
}

summary {
  outline: none; // TO CHANGE WITH JAVASCRIPT
  cursor: pointer;
}

.post-writing-container {
  display: block;
}

.thought {
  background: white;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  padding: 50px;
  margin: 50px;
  max-width: 300px;
  position: relative;
}
