.reference-item {
  margin: 50px 50px;
}

.reference-title {
  font-size: 48px;
  line-height: 64px;
  font-weight: bold;
  font-style: italic;
}

// .reference-from {
//   font-size: 12px;
//   line-height: 18px;
// }

.reference-type {
  font-size: 3em;
  font-weight: bold;
}
