.table-container {
  height: 70vh;
  overflow: scroll;
  border: 2px solid #7fedc9;
}

#thingsused-table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

#thingsused-table td,
#thingsused-table th {
  border: 1px solid black;
  padding: 8px;
  margin: 50px 0px;
  background: white;
}

#thingsused-table th {
  background: #c4a9fc;
}

#thingsused-table td {
  //   background: white;
}

#thingsused-table td img {
  width: 50px;
}
