/*~*~*~*~*~*~*~*~*~*~*
 * 🦋 WHO IS JADE
 *~*~*~*~*~*~*~*~*~*~*/

.jade-is {
  position: absolute;
  color: black;
  max-width: 500px;
  visibility: hidden;
  margin: 25px 0px;
  padding: 25px;
  background: white;
  border: 3px solid black;
}

.link {
  position: absolute;
  color: black;
  max-width: 500px;
  display: inline-block;
  margin: 25px 0px;
  padding: 25px;
  background-image: url("https://media.giphy.com/media/1TpGKApbHmkZa/giphy.gif");
  background-size: cover;
  border: 3px solid black;
}

@media only screen and (max-width: 768px) {
  .jade-is,
  .link {
    position: inherit;
    max-width: 100%;
  }
}
