---
<!-- layout: default -->
---
<article>
    <div class="post-header">
        <h2>🦋 {{ page.title }}</h2>
        <time> {{ page.date | date: '%B %d, %Y' }}</time>
    </div>

    <div class="post-tiktok-link">
        <a target="_blank" href="{{ page.tiktokLink }}">* LINK
            TO VIDEO ON TIKTOK *</a>
    </div>
    <div class="post-youtube-embed">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ page.youtubeID }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="post-data references">
        <span class="post-key">References:</span>
        <ul class="post-data-list references-list">
            {% for ref in page.references %}
            <li>
                <a target="_blank" href="{{ ref.link }}">@{{ ref.handle }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="post-data filters">
        <span class="post-key">Filters/effects:</span>
        <ul class="post-data-list filter-list">
            {% for filter in page.filters %}
            <li>{{ filter }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- THINGS USED BY NAME TEST -->
    <div class="post-data things-used">
        <a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1viVgQJUks6DZ6xgkQt2jRjblfiRyCaIi9NMWhvewjoQ/view"><span
                class="post-key">Things
                used:</span></a>
        <ul class="post-data-list things-list">
            {% for currentThing in page.thingsUsed %}
            {% assign thing = site.data.thingsUsed[currentThing.id]  %}
            <li><data value="{{ thingId }}">{{ thing.name }}</data>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- NAME -->
    <div class="post-data total-cost-this-video">
        <a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1viVgQJUks6DZ6xgkQt2jRjblfiRyCaIi9NMWhvewjoQ/view">
            <span class="post-key">Total cost of things used in this video:</span></a>
        {% assign total = 0 %}
        {% for currentThing in page.thingsUsed %}
        {% assign thing = site.data.thingsUsed[currentThing.id]  %}
        {% assign total = total | plus: thing.cost %}
        {% endfor %}
        ${{ total }}
    </div>
    <div class="post-data total-cost-to-date">
        <a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1viVgQJUks6DZ6xgkQt2jRjblfiRyCaIi9NMWhvewjoQ/view">
            <span class="post-key">Total cost of things used to date:</span></a>
        {% assign total = 0 %}
        {% assign thingsLimit = page.thingsUsedToDateLimit | plus: 1 %}
        {% for thing in site.data.thingsUsed limit:thingsLimit %}
        {% assign total = total | plus: thing.cost %}
        {% endfor %}
        ${{ total }}
    </div>
    <div class="post-data money-made">
        <a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1viVgQJUks6DZ6xgkQt2jRjblfiRyCaIi9NMWhvewjoQ/view#gid=45502927"><span
                class="post-key">Total
                money made to date:</span></a>
        <data>${{ page.moneyMadeToDate }}</data>
    </div>
    <div class="post-data num-followers">
        <span class="post-key">Total number of followers when posted:</span> <data>{{ page.numFollowers }}</data>
    </div>
    <div class="post-data num-likes">
        <span class="post-key">Total number of likes when posted:</span> <data>{{ page.numLikes }}</data>
    </div>
    <br>
    <!-- {{ content }} -->
    <details>
        <summary>Read more...</summary>
        {{ content }}
    </details>
</article>